@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<FileStorage.Models.File>


@section Scripts {
    
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript">
        function checkSize(max_img_size) {
            var input = document.getElementById("imagefile");

            //if (input.files && input.files.length == 1)
            //{
            //    if (input.files[0].size > max_img_size)
            //    {
            //        alert("Файл не должен превышать "
            //            + (max_img_size / 1024 / 1024) + "MB!");
            //        return false;
            //    }
            //}

            return true;
        }
    </script>
}

    <div class="row" style="margin-top:20px">
        <div class="col-md-6" >
            @using (Html.BeginForm("Create", "Home", FormMethod.Post, new
            {
                enctype = "multipart/form-data",
                onsubmit = "return checkSize(20971520)"
            }))
            {
                @Html.ValidationSummary(true)

            <fieldset>
                <div class="editor-field">
                    <h4>  <input id="imagefile" type="file" name="uploadFile" /></h4>
                </div>
                <h4> <input type="submit" value="Загрузить" /></h4>
                @Html.Label("Максимальный размер файла не должен превышать 20МБ")
            </fieldset>
            }
        </div>
        <div class="col-md-6 h4 ">
            @using (Html.BeginForm()){
            <p>
                @Html.TextBox("searchString","",new { style=" width:100%"})
                <input type="submit" value="Искать" />
            </p>
            }
        </div>
    </div>


<div class="row">
    <table class="table table-bordered table-hover table-striped">

        <tr style="background-color:lightgrey">
            <th>
                @Html.ActionLink("Название", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Расширение", "Index", new { sortOrder = ViewBag.ExtSortParm })
            </th>
            <th>
                @Html.ActionLink("Добавлено пользователем", "Index", new { sortOrder = ViewBag.UserSortParm })
            </th>
            <th>
                @Html.ActionLink("Размер", "Index", new { sortOrder = ViewBag.SizeSortParm })
            </th>
            <th>
                @Html.ActionLink("Время загрузки", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>Загрузка</th>
            @if (User.IsInRole("admin"))
            {
                 <th>Удалить</th>
            }
           
        </tr>

        @foreach (var item in Model)
        {
        <tr style="background-color:bisque">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileExt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
                @Html.ValidationMessageFor(modelItem => item.Name, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("  Скачать", "DownLoadFile", new { id = item.Id })
            </td>

            @if (User.IsInRole("admin")) {
                
                <td> @Html.ActionLink("Удалить", "DeleteFile", new { id = item.Id }) </td>
            }
        </tr>
        }

    </table>
</div>






